/* ===== ESTILOS GENERALES ===== */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Arial, Helvetica, sans-serif;
    background-color: #eef4fa;
}

footer{
    background-color: black;
    text-align: center;
    color: #f4f4f4;
    padding:20px;
    width:100%;
}
/* ===== HEADER ===== */
header{ /*titulo: gestion de carreras y escuelas academicas*/
    background-color:#003A70;
    color: white;
    text-align:center;
    padding:20px;
    width:100%;
}

/* ===== MENÚ ===== */
nav{
    background-color: white;
    text-align:center;
    padding:20px;
    width:100%;
}

nav a{ /* pagina principal, perfil, egresados, carreras */
    color: #999;
    text-decoration:none;
    margin:15px;
    font-weight:bold;
}

nav a:hover{ /*color que se muestra al hacer click en el menú*/
    color:rgb(0, 17, 255);
}
.contenedor-login{ /*esto afecta todo el main de login*/
    width:100%;
    max-width:1000px;
    margin:30px auto;
    padding:0 15px;
}
.contenedor-login h2{ /*esto afecta todos los h2 de login*/
    text-align:center;
    color:#003366;
    margin-bottom:20px;
}
.contenedor-login .login{/*esto afecta lo que encierra a los inputs, osea la caja principal*/
    background-color:white;
    padding:20px;/*esto es lo alto de la caja*/
    margin-bottom:25px;
    border-radius:10px;
    border-left:6px solid #003366;
    box-shadow:0px 2px 8px rgba(0,0,0,0.15);/*sombreado de las cajas*/
    text-align:left;
    width:100%;
}
.contenedor-login form{ /*la forma dada al formulario*/
    display:flex;
    flex-direction:column;
    gap:12px;
}
.contenedor-login label{
    font-weight:bold;/*para hacer mas negrita la letra*/
    margin-top:10px;/*grosor para el margen*/
}
.contenedor-login input, select{
    width:100%;
    padding:10px;
    border:1px solid #999;
    border-radius:4px;
}

.contenedor-login button{
    width:100%;
    max-width:250px;
    margin:20px auto 0 auto;
    background-color:#003366;
    color:white;
    border:none;
    padding:12px;
    border-radius:5px;
    cursor:pointer;
}
.contenedor-login button:hover{
    background-color:#00509E;
}
.input-error { 
    border: 5px solid #cc0000 !important; /* Rojo visible e importante */
    background-color: #fff0f0; /* Fondo sutil rojizo opcional para que resalte más */
}